# Dependências
node_modules/
npm-debug.log
yarn-error.log

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Banco de dados
*.sqlite
*.db

# Diretórios de build
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo
